<section class="container-fluid dark-bg-color" id="esquecisenha-container">
    <div class="col-12">
      <div class="row">
        <p class="secondary-color">Informe o seu e-mail abaixo para receber as instruções de como criar uma nova senha.</p>
        <form class="d-flex" id="mail-form">
          <i class="bi bi-envelope primary-color"></i>
          <input type="email" class="form-control me-2" placeholder="Insira seu e-mail">
          <button type="submit" class="btn secondary-bg-color">Enviar</button>
        </form>
      </div>
    </div>
</section>