
<div class="container col-11 col-md-9" id="form-container">
    <div class="row align-items-center gx-5">
        <div class="col-md-6 order-md-2">
            <h2>Faça o login para continuar</h2>
            <form>
                <div class="form-floating mb-3">
                    <input type="email" id="email" name="email" class="form-control" placeholder="Digite o seu e-mail">
                    <label for="email" class="form-label">
                        Digite o seu e-mail
                    </label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Digite a sua senha">
                    <label for="password" class="form-label">
                        Digite a sua senha
                    </label>
                </div>
                <input type="submit" class="btn btn-primary" value="Entrar">
            </form>    
        </div>
        <div class="col-md-6 order-md-1">
            <div class="col-12">
                <img src="../../assets/img/banner1.jpg" alt="Entrar no sistema" class="img-fluid">
            </div>
            <div class="col-12" id="link-container">
                <a routerLink="/cadastro" >Ainda não tenho cadastro</a>
            </div>
        </div>
    </div>
</div>